ion-content {
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ion-card{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
}
.font{
   font-size:48px;	 
}
.font2{
    font-size:58px;	 
 }